<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    	<meta name="keywords" content="wikipedia, wiki, search, research, find, description, definition">
    	<meta name="description" content="Find your answers here.">

        <title>WikiQuery</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="container-header">
                <h1 class="logo">WikiQuery</h1>
            </div>
        </header>
        <div class="jumbotron"
            <div class="container">
                {% if article %}
                    <div class="column-one">
                        <h2>{{ article }}</h2>
                    </div>
                    <div class="column-two">
                    </div>
                    <a href="{{ url_for('index') }}">Search more stuff | </a>
                {% elif categories %}
                    <div class="column-one">
                        <h2>{{ categories }}</h2>
                        <p></p>
                        <h4>Enter one of these categories in the search box below,
                        or enter another specific category (ambiguous entries such as
                        'Python' may confuse WikiQuery. Instead, enter 'Python programming 
                        language').</h4>
                    </div>
                    <div class="column-two">
                        <form action="/" class="form-inline">
                            <div class="form-group">
                                <input type="text" name="specific terms" class="form-control" placeholder="specific terms">
                            </div>
                            <input type="submit" value="Submit" class="button">
                        </form>
                    </div>
                    <a href="{{ url_for('index') }}">Search more stuff | </a>
                {% else %}
                    <h1>Welcome to WikiQuery!</h1>
                    <h4>Enter your search terms below.</h4>
                    <form action="/" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="terms" class="form-control" placeholder="terms">
                        </div>
                        <input type="submit" value="Submit" class="button">
                    </form>
                {% endif %}
                <a href="{{ url_for('about') }}">About WikiQuery</a>
            </div>
        </div>
    </body>
</html>